{% extends 'base.html' %}

{% block content %}


<div class="container is-flex is-flex-direction-column is-justify-content-center" style="width: 30%; height: 100vh">
    <h1 class="is-size-4 p-3">Register</h1>

    <form method="POST">
<!--    FROM START    -->


        {% csrf_token %}

        {% for i in form %}
        <div class="field">
            <label class="label">{{ i.label }}</label>

            <div class="control">
                {{ i }}
            </div>

            {% if i.errors %}
            <div class="alert alert-danger" role="alert">
                {{ i.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <button class="button is-primary" type="submit">Register</button>


<!--    FROM END    -->
    </form>
</div>

{% endblock %}
