{% extends 'base.html' %}

{% block content %}


<div class="container is-flex is-flex-direction-column is-justify-content-center" style="width: 30%; height: 100vh">
    <h1 class="is-size-4 p-3">Users</h1>

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <a>
                    <td><a href="{% url 'accounts:user_detail' user.pk %}">{{ user.username }}</a></td>
                </a>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
</div>

{% endblock %}
