{% load static %}

<div class="is-flex is-flex-direction-column" style="height: 100%; box-shadow: #464545 10px 10px 10px">
    <div class="p-2" style="height: 6%">
        <div class="field">
            <div class="control">
                <input class="input is-dark has-background-grey has-text-white" type="text" placeholder="Search...">
            </div>
        </div>
    </div>
    <div class="people-list">
        <div class="chat-list-pre-ul">
            <ul>
                {% for chat in chat_queryset %}
                {% if chat == current_chat %}
                <li class="chat-list-item has-background-dark" onclick="addQueryParamAndReload('{{ chat.id }}')">

                    {% else %}
                <li class="chat-list-item" onclick="addQueryParamAndReload('{{ chat.id }}')">
                    {% endif %}
                    <div class="p-1">
                        <div class="is-flex is-justify-content-space-between">
                            <div class="image-and-user-info">
                                <div class="is-flex">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img class="is-rounded"
                                                     src="https://bulma.io/images/placeholders/128x128.png"
                                                     alt="Image">
                                            </figure>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="is-flex is-flex-direction-column is-justify-content-space-between">
                                            {% if chat.user1 == user %}
                                            <h3 class="has-text-white">{{ chat.user2.username }}</h3>
                                            {% else %}
                                            <h3 class="has-text-white">{{ chat.user1.username }}</h3>
                                            {% endif %}

                                            <p class="has-text-grey-light">
                                                {{ chat.last_message_content|truncatewords:10}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="is-flex">
                                    <p class="px-1">
                                        {% if chat.last_message_is_owner_username == user.username %}
                                            {% if chat.last_message_is_seen %}
                                            <i class="has-text-success fa-solid fa-check-double"></i>
                                            {% else %}
                                            <i class="has-text-success fa-solid fa-check"></i>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                    <p class="has-text-white">{{ chat.last_message_date|date:"H:i" }}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>

                {% endfor %}

            </ul>
        </div>
    </div>

</div>
